<h2 class="teal-text text-ligten-1">
  コメント
</h2>
<div class="row">
  <div class="col s12">
    <ol>
      <% @comments.each do |comment| %>
      <li>
        <div>
          <%= comment.username %>
        </div>
        <div class="row">
          <div class="col s12 wrap"><%= comment.body %></div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= I18n.l(comment.created_at) %>
          </div>
        </div>
        <div class="row">
          <a class="btn teal lighten-1 waves-effect waves-light" onclick="toggleReplyForm(this)">
            <i class="material-icons">reply</i>
          </a>
        </div>
        <div class="row reply-form hide">
          <div class="col s12">
            <%= form_for @comment, method: 'POST' do |f| %>
              <%= render partial: 'comment_fields', locals: { f: f } %>
              <%= hidden_field_tag :article_id, @article.id %>
              <%= hidden_field_tag :comment_id, comment.id %>
              <%= f.submit '送信', class: 'btn-large blue waves-effect waves-light' %>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ol>
    <%= form_for @comment, method: 'POST' do |f| %>
      <%= render partial: 'comment_fields', locals: { f: f } %>
      <%= hidden_field_tag :article_id, @article.id %>
      <%= f.submit '送信', class: 'btn-large blue waves-effect waves-light' %>
    <% end %>
  </div>
</div>

<script>
  function toggleReplyForm(element) {
      var replyForm = $(element).parent().next(".reply-form");

      if(replyForm.hasClass("hide")) {
          replyForm.removeClass("hide");
          replyForm.addClass("show");
      } else {
          replyForm.removeClass("show");
          replyForm.addClass("hide");
      }
  }
</script>