<h2 class="teal-text text-ligten-1">
  コメント(<%= @comments_count %>件)
</h2>
<div class="row">
  <div class="col s12">
    <ol>
      <% @comments.each do |comment| %>
      <li>
        <%= render partial: 'show_comment', locals: { comment: comment } %>
        <%= render partial: 'reply_button' %>
        <%= render partial: 'reply_form', locals: { new_comment: @comment, comment: comment, article: @article } %>
        <%= render partial: 'reply_comment', locals: { comment: comment } %>
      </li>
      <% end %>
    </ol>
    <%= form_for @comment, method: 'POST' do |f| %>
      <%= render partial: 'comment_fields', locals: { f: f } %>
      <%= hidden_field_tag :article_id, @article.id %>
      <%= f.submit '送信', class: 'btn-large blue waves-effect waves-light' %>
    <% end %>
  </div>
</div>

<script>
  function toggleReplyForm(element) {
      var replyForm = $(element).parent().next(".reply-form");

      if(replyForm.hasClass("hide")) {
          replyForm.removeClass("hide");
          replyForm.addClass("show");
      } else {
          replyForm.removeClass("show");
          replyForm.addClass("hide");
      }
  }
</script>