<h1 class="blue-text">
  記事
</h1>
<div class="row">
  <div class="left">
    <%= form_tag articles_path, method: :get do %>
      <div class="col s5">
        <label>カテゴリー</label>
        <%= select :article_categories, :category_id, @categories, { include_blank: true, selected: @category_ids }, multiple: true  %>
      </div>
      <div class="col s5">
        <label>タグ</label>
        <%= select :article_tags, :tag_id, @tags, { include_blank: true, selected: @tag_ids }, multiple: true  %>
      </div>
      <%= submit_tag '検索', class: 'col s2 btn-large blue waves-effect waves-light' %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <a href="<%= new_article_path %>"
       class="btn-floating btn-large waves-effect waves-light green right"
       title="記事作成">
      <i class="material-icons">
        add
      </i>
    </a>
  <% end %>
</div>

<table class="highlight">
  <thead>
  <tr>
    <th><%= I18n.t('activerecord.attributes.article.title') %></th>
    <th><%= I18n.t('activerecord.attributes.article.created_at') %></th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
  <tr>
    <td>
      <%= link_to article.title, article_path(article) %>
    </td>
    <td>
      <%= I18n.l(article.created_at) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<div class="center">
  <%= paginate @articles %>
</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>