<h1 class="blue-text">
  記事
</h1>
<a href="<%= new_article_path %>"
   class="btn-floating btn-large waves-effect waves-light green right"
   title="記事作成">
  <i class="material-icons">
    add
  </i>
</a>
<table class="highlight">
  <thead>
  <tr>
    <th><%= I18n.t('activerecord.attributes.article.title') %></th>
    <th><%= I18n.t('activerecord.attributes.article.created_at') %></th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
  <tr>
    <td>
      <%= link_to article.title, article_path(article) %>
    </td>
    <td>
      <%= I18n.l(article.created_at) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<div class="center">
  <%= paginate @articles %>
</div>
