<!DOCTYPE html>
<html>
  <head>
    <title>Bbs4b</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash.any? %>
        <div class="card-panel blue lighten-2 white-text">
          <% flash.each do |k, v| %>
            <%= v %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
