<!DOCTYPE html>
<html>
  <head>
    <title>Bbs4b</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to '掲示板', articles_path, class: 'brand-logo center' %>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
              <%= link_to '記事', articles_path %>
            </li>
            <% if user_signed_in? %>
            <li>
              <%= link_to 'カテゴリー', categories_path %>
            </li>
            <li>
              <%= link_to 'タグ', tags_path %>
            </li>
            <% end %>
          </ul>
          <ul id="nav-mobile" class="left show-on-medium-and-down hide-on-large-only">
            <li>
              <a href="<%= articles_path %>" title="記事">
                <i class="fa fa-file-text-o"></i>
              </a>
            </li>
            <% if user_signed_in? %>
            <li>
              <a href="<%= categories_path %>" title="カテゴリー">
                <i class="fa fa-pie-chart"></i>
              </a>
            </li>
            <li>
              <a href="<%= tags_path %>" title="タグ">
                <i class="fa fa-tag"></i>
              </a>
            </li>
            <% end %>
          </ul>


          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
                <li>
                  <%= link_to '設定', admin_path %>
                </li>
            <% end %>
            <li>
              <% if user_signed_in? %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to 'ログイン', new_session_path(:user) %>
              <% end %>
            </li>
          </ul>
          <ul class="right show-on-medium-and-down hide-on-large-only">
            <% if user_signed_in? %>
              <li>
                <a href="<%= admin_path %>" title="設定">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
            <% end %>
            <li>
              <% if user_signed_in? %>
                <a href="<%= destroy_user_session_path %>" data-method="delete" title="ログアウト">
                  <i class="fa fa-sign-out"></i>
                </a>
              <% else %>
                <a href="<%= new_session_path(:user) %>" title="ログイン">
                  <i class="fa fa-sign-in"></i>
                </a>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <% if flash.any? %>
        <div class="card-panel blue lighten-2 white-text">
          <% flash.each do |k, v| %>
            <%= v %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
